<html>
	<head>
		<title>Clientes</title>
		<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
	</head>
	

  <body class="change-list">
    <h1>Clientes</h1>

	<p>
		<a href="{% url lista-cliente %}">Lista de clientes</a>
	</p>

	<div class="results">
	 	<table id="result_list">    
	    	<tr class="row1">
	    		<th>id</th><td>{{cliente.id}}</td>
	    	</tr>
	    	<tr class="row2">	
	    		<th>nome</th><td>{{cliente.nome}}</td>
	    	</tr>
	    	<tr class="row1">	
	    		<th>endereco</th><td>{{cliente.endereco}}</td>
	    	</tr>
	    	
	    </table>
	</div>
    
  </body>

</html>
