{% extends 'base.html' %}

{% block corpo %}

    <h1>Lista de pizzas</h1>
    
    <table border="1">
      {% for pizza in lista %}
    	<tr>
    		<td>{{ forloop.counter }}</td>
    		<td>{{pizza}}</td>
    		<td>{{pizza.pedido_id}}</td>
    		<td>
    			<form action="{%  url pedido-pronto %}" method="POST">
    				{% csrf_token %}
    				<input type="hidden" name="pedido_id" value="{{pizza.pedido_id}}" />
    				<input type="submit" value="pedido {{pizza.pedido_id}} pronto" name="feita" />
    				
    			</form>
    			
    		</td>
    	</tr>
      {% endfor %}
    	
    </table>
    
    <div>
    	<img src="{{ STATIC_URL }}pizza.png" width="120" />
    </div>  

{% endblock %}